[mysqld]
server_id=1
character_set_server=utf8mb4
collation_server=utf8mb4_general_ci
# binlog_format=ROW
# gtid_mode=ON
# enforce-gtid-consistency=true
max_allowed_packet=32M
# sql_mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ALLOW_INVALID_DATES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
sql_mode="NO_ZERO_IN_DATE,NO_ENGINE_SUBSTITUTION"
